<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ai.ch.user.dao.mapper.interfaces.CtScoreLogMapper" >
  <resultMap id="BaseResultMap" type="com.ai.ch.user.dao.mapper.bo.CtScoreLog" >
    <id column="OPER_ID" property="operId" jdbcType="DECIMAL" />
    <id column="SCORE_DATE" property="scoreDate" jdbcType="TIMESTAMP" />
    <id column="USER_ID" property="userId" jdbcType="VARCHAR" />
    <result column="TOTAL_SCORE" property="totalScore" jdbcType="INTEGER" />
    <result column="SCORE1" property="score1" jdbcType="INTEGER" />
    <result column="SCORE2" property="score2" jdbcType="INTEGER" />
    <result column="SCORE3" property="score3" jdbcType="INTEGER" />
    <result column="SCORE4" property="score4" jdbcType="INTEGER" />
    <result column="SCORE5" property="score5" jdbcType="INTEGER" />
    <result column="SCORE6" property="score6" jdbcType="INTEGER" />
    <result column="SCORE7" property="score7" jdbcType="INTEGER" />
    <result column="SCORE8" property="score8" jdbcType="INTEGER" />
    <result column="SCORE9" property="score9" jdbcType="INTEGER" />
    <result column="SCORE10" property="score10" jdbcType="INTEGER" />
    <result column="SCORE11" property="score11" jdbcType="INTEGER" />
    <result column="SCORE12" property="score12" jdbcType="INTEGER" />
    <result column="SCORE13" property="score13" jdbcType="INTEGER" />
    <result column="SCORE14" property="score14" jdbcType="INTEGER" />
    <result column="SCORE15" property="score15" jdbcType="INTEGER" />
    <result column="SCORE16" property="score16" jdbcType="INTEGER" />
    <result column="SCORE17" property="score17" jdbcType="INTEGER" />
    <result column="SCORE18" property="score18" jdbcType="INTEGER" />
    <result column="SCORE19" property="score19" jdbcType="INTEGER" />
    <result column="SCORE20" property="score20" jdbcType="INTEGER" />
    <result column="TENANT_ID" property="tenantId" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    OPER_ID, SCORE_DATE, USER_ID, TOTAL_SCORE, SCORE1, SCORE2, SCORE3, SCORE4, SCORE5, 
    SCORE6, SCORE7, SCORE8, SCORE9, SCORE10, SCORE11, SCORE12, SCORE13, SCORE14, SCORE15, 
    SCORE16, SCORE17, SCORE18, SCORE19, SCORE20, TENANT_ID
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.ai.ch.user.dao.mapper.bo.CtScoreLogCriteria" >
    select
    <if test="distinct" >
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    from ct_score_log
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart != null and limitStart>=0" >
      limit #{limitStart} , #{limitEnd}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.ai.ch.user.dao.mapper.bo.CtScoreLogKey" >
    select 
    <include refid="Base_Column_List" />
    from ct_score_log
    where OPER_ID = #{operId,jdbcType=DECIMAL}
      and SCORE_DATE = #{scoreDate,jdbcType=TIMESTAMP}
      and USER_ID = #{userId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.ai.ch.user.dao.mapper.bo.CtScoreLogKey" >
    delete from ct_score_log
    where OPER_ID = #{operId,jdbcType=DECIMAL}
      and SCORE_DATE = #{scoreDate,jdbcType=TIMESTAMP}
      and USER_ID = #{userId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.ai.ch.user.dao.mapper.bo.CtScoreLogCriteria" >
    delete from ct_score_log
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ai.ch.user.dao.mapper.bo.CtScoreLog" >
    insert into ct_score_log (OPER_ID, SCORE_DATE, USER_ID, 
      TOTAL_SCORE, SCORE1, SCORE2, 
      SCORE3, SCORE4, SCORE5, 
      SCORE6, SCORE7, SCORE8, 
      SCORE9, SCORE10, SCORE11, 
      SCORE12, SCORE13, SCORE14, 
      SCORE15, SCORE16, SCORE17, 
      SCORE18, SCORE19, SCORE20, 
      TENANT_ID)
    values (#{operId,jdbcType=DECIMAL}, #{scoreDate,jdbcType=TIMESTAMP}, #{userId,jdbcType=VARCHAR}, 
      #{totalScore,jdbcType=INTEGER}, #{score1,jdbcType=INTEGER}, #{score2,jdbcType=INTEGER}, 
      #{score3,jdbcType=INTEGER}, #{score4,jdbcType=INTEGER}, #{score5,jdbcType=INTEGER}, 
      #{score6,jdbcType=INTEGER}, #{score7,jdbcType=INTEGER}, #{score8,jdbcType=INTEGER}, 
      #{score9,jdbcType=INTEGER}, #{score10,jdbcType=INTEGER}, #{score11,jdbcType=INTEGER}, 
      #{score12,jdbcType=INTEGER}, #{score13,jdbcType=INTEGER}, #{score14,jdbcType=INTEGER}, 
      #{score15,jdbcType=INTEGER}, #{score16,jdbcType=INTEGER}, #{score17,jdbcType=INTEGER}, 
      #{score18,jdbcType=INTEGER}, #{score19,jdbcType=INTEGER}, #{score20,jdbcType=INTEGER}, 
      #{tenantId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ai.ch.user.dao.mapper.bo.CtScoreLog" >
    insert into ct_score_log
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="operId != null" >
        OPER_ID,
      </if>
      <if test="scoreDate != null" >
        SCORE_DATE,
      </if>
      <if test="userId != null" >
        USER_ID,
      </if>
      <if test="totalScore != null" >
        TOTAL_SCORE,
      </if>
      <if test="score1 != null" >
        SCORE1,
      </if>
      <if test="score2 != null" >
        SCORE2,
      </if>
      <if test="score3 != null" >
        SCORE3,
      </if>
      <if test="score4 != null" >
        SCORE4,
      </if>
      <if test="score5 != null" >
        SCORE5,
      </if>
      <if test="score6 != null" >
        SCORE6,
      </if>
      <if test="score7 != null" >
        SCORE7,
      </if>
      <if test="score8 != null" >
        SCORE8,
      </if>
      <if test="score9 != null" >
        SCORE9,
      </if>
      <if test="score10 != null" >
        SCORE10,
      </if>
      <if test="score11 != null" >
        SCORE11,
      </if>
      <if test="score12 != null" >
        SCORE12,
      </if>
      <if test="score13 != null" >
        SCORE13,
      </if>
      <if test="score14 != null" >
        SCORE14,
      </if>
      <if test="score15 != null" >
        SCORE15,
      </if>
      <if test="score16 != null" >
        SCORE16,
      </if>
      <if test="score17 != null" >
        SCORE17,
      </if>
      <if test="score18 != null" >
        SCORE18,
      </if>
      <if test="score19 != null" >
        SCORE19,
      </if>
      <if test="score20 != null" >
        SCORE20,
      </if>
      <if test="tenantId != null" >
        TENANT_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="operId != null" >
        #{operId,jdbcType=DECIMAL},
      </if>
      <if test="scoreDate != null" >
        #{scoreDate,jdbcType=TIMESTAMP},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="totalScore != null" >
        #{totalScore,jdbcType=INTEGER},
      </if>
      <if test="score1 != null" >
        #{score1,jdbcType=INTEGER},
      </if>
      <if test="score2 != null" >
        #{score2,jdbcType=INTEGER},
      </if>
      <if test="score3 != null" >
        #{score3,jdbcType=INTEGER},
      </if>
      <if test="score4 != null" >
        #{score4,jdbcType=INTEGER},
      </if>
      <if test="score5 != null" >
        #{score5,jdbcType=INTEGER},
      </if>
      <if test="score6 != null" >
        #{score6,jdbcType=INTEGER},
      </if>
      <if test="score7 != null" >
        #{score7,jdbcType=INTEGER},
      </if>
      <if test="score8 != null" >
        #{score8,jdbcType=INTEGER},
      </if>
      <if test="score9 != null" >
        #{score9,jdbcType=INTEGER},
      </if>
      <if test="score10 != null" >
        #{score10,jdbcType=INTEGER},
      </if>
      <if test="score11 != null" >
        #{score11,jdbcType=INTEGER},
      </if>
      <if test="score12 != null" >
        #{score12,jdbcType=INTEGER},
      </if>
      <if test="score13 != null" >
        #{score13,jdbcType=INTEGER},
      </if>
      <if test="score14 != null" >
        #{score14,jdbcType=INTEGER},
      </if>
      <if test="score15 != null" >
        #{score15,jdbcType=INTEGER},
      </if>
      <if test="score16 != null" >
        #{score16,jdbcType=INTEGER},
      </if>
      <if test="score17 != null" >
        #{score17,jdbcType=INTEGER},
      </if>
      <if test="score18 != null" >
        #{score18,jdbcType=INTEGER},
      </if>
      <if test="score19 != null" >
        #{score19,jdbcType=INTEGER},
      </if>
      <if test="score20 != null" >
        #{score20,jdbcType=INTEGER},
      </if>
      <if test="tenantId != null" >
        #{tenantId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ai.ch.user.dao.mapper.bo.CtScoreLogCriteria" resultType="java.lang.Integer" >
    select count(*) from ct_score_log
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update ct_score_log
    <set >
      <if test="record.operId != null" >
        OPER_ID = #{record.operId,jdbcType=DECIMAL},
      </if>
      <if test="record.scoreDate != null" >
        SCORE_DATE = #{record.scoreDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.userId != null" >
        USER_ID = #{record.userId,jdbcType=VARCHAR},
      </if>
      <if test="record.totalScore != null" >
        TOTAL_SCORE = #{record.totalScore,jdbcType=INTEGER},
      </if>
      <if test="record.score1 != null" >
        SCORE1 = #{record.score1,jdbcType=INTEGER},
      </if>
      <if test="record.score2 != null" >
        SCORE2 = #{record.score2,jdbcType=INTEGER},
      </if>
      <if test="record.score3 != null" >
        SCORE3 = #{record.score3,jdbcType=INTEGER},
      </if>
      <if test="record.score4 != null" >
        SCORE4 = #{record.score4,jdbcType=INTEGER},
      </if>
      <if test="record.score5 != null" >
        SCORE5 = #{record.score5,jdbcType=INTEGER},
      </if>
      <if test="record.score6 != null" >
        SCORE6 = #{record.score6,jdbcType=INTEGER},
      </if>
      <if test="record.score7 != null" >
        SCORE7 = #{record.score7,jdbcType=INTEGER},
      </if>
      <if test="record.score8 != null" >
        SCORE8 = #{record.score8,jdbcType=INTEGER},
      </if>
      <if test="record.score9 != null" >
        SCORE9 = #{record.score9,jdbcType=INTEGER},
      </if>
      <if test="record.score10 != null" >
        SCORE10 = #{record.score10,jdbcType=INTEGER},
      </if>
      <if test="record.score11 != null" >
        SCORE11 = #{record.score11,jdbcType=INTEGER},
      </if>
      <if test="record.score12 != null" >
        SCORE12 = #{record.score12,jdbcType=INTEGER},
      </if>
      <if test="record.score13 != null" >
        SCORE13 = #{record.score13,jdbcType=INTEGER},
      </if>
      <if test="record.score14 != null" >
        SCORE14 = #{record.score14,jdbcType=INTEGER},
      </if>
      <if test="record.score15 != null" >
        SCORE15 = #{record.score15,jdbcType=INTEGER},
      </if>
      <if test="record.score16 != null" >
        SCORE16 = #{record.score16,jdbcType=INTEGER},
      </if>
      <if test="record.score17 != null" >
        SCORE17 = #{record.score17,jdbcType=INTEGER},
      </if>
      <if test="record.score18 != null" >
        SCORE18 = #{record.score18,jdbcType=INTEGER},
      </if>
      <if test="record.score19 != null" >
        SCORE19 = #{record.score19,jdbcType=INTEGER},
      </if>
      <if test="record.score20 != null" >
        SCORE20 = #{record.score20,jdbcType=INTEGER},
      </if>
      <if test="record.tenantId != null" >
        TENANT_ID = #{record.tenantId,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update ct_score_log
    set OPER_ID = #{record.operId,jdbcType=DECIMAL},
      SCORE_DATE = #{record.scoreDate,jdbcType=TIMESTAMP},
      USER_ID = #{record.userId,jdbcType=VARCHAR},
      TOTAL_SCORE = #{record.totalScore,jdbcType=INTEGER},
      SCORE1 = #{record.score1,jdbcType=INTEGER},
      SCORE2 = #{record.score2,jdbcType=INTEGER},
      SCORE3 = #{record.score3,jdbcType=INTEGER},
      SCORE4 = #{record.score4,jdbcType=INTEGER},
      SCORE5 = #{record.score5,jdbcType=INTEGER},
      SCORE6 = #{record.score6,jdbcType=INTEGER},
      SCORE7 = #{record.score7,jdbcType=INTEGER},
      SCORE8 = #{record.score8,jdbcType=INTEGER},
      SCORE9 = #{record.score9,jdbcType=INTEGER},
      SCORE10 = #{record.score10,jdbcType=INTEGER},
      SCORE11 = #{record.score11,jdbcType=INTEGER},
      SCORE12 = #{record.score12,jdbcType=INTEGER},
      SCORE13 = #{record.score13,jdbcType=INTEGER},
      SCORE14 = #{record.score14,jdbcType=INTEGER},
      SCORE15 = #{record.score15,jdbcType=INTEGER},
      SCORE16 = #{record.score16,jdbcType=INTEGER},
      SCORE17 = #{record.score17,jdbcType=INTEGER},
      SCORE18 = #{record.score18,jdbcType=INTEGER},
      SCORE19 = #{record.score19,jdbcType=INTEGER},
      SCORE20 = #{record.score20,jdbcType=INTEGER},
      TENANT_ID = #{record.tenantId,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ai.ch.user.dao.mapper.bo.CtScoreLog" >
    update ct_score_log
    <set >
      <if test="totalScore != null" >
        TOTAL_SCORE = #{totalScore,jdbcType=INTEGER},
      </if>
      <if test="score1 != null" >
        SCORE1 = #{score1,jdbcType=INTEGER},
      </if>
      <if test="score2 != null" >
        SCORE2 = #{score2,jdbcType=INTEGER},
      </if>
      <if test="score3 != null" >
        SCORE3 = #{score3,jdbcType=INTEGER},
      </if>
      <if test="score4 != null" >
        SCORE4 = #{score4,jdbcType=INTEGER},
      </if>
      <if test="score5 != null" >
        SCORE5 = #{score5,jdbcType=INTEGER},
      </if>
      <if test="score6 != null" >
        SCORE6 = #{score6,jdbcType=INTEGER},
      </if>
      <if test="score7 != null" >
        SCORE7 = #{score7,jdbcType=INTEGER},
      </if>
      <if test="score8 != null" >
        SCORE8 = #{score8,jdbcType=INTEGER},
      </if>
      <if test="score9 != null" >
        SCORE9 = #{score9,jdbcType=INTEGER},
      </if>
      <if test="score10 != null" >
        SCORE10 = #{score10,jdbcType=INTEGER},
      </if>
      <if test="score11 != null" >
        SCORE11 = #{score11,jdbcType=INTEGER},
      </if>
      <if test="score12 != null" >
        SCORE12 = #{score12,jdbcType=INTEGER},
      </if>
      <if test="score13 != null" >
        SCORE13 = #{score13,jdbcType=INTEGER},
      </if>
      <if test="score14 != null" >
        SCORE14 = #{score14,jdbcType=INTEGER},
      </if>
      <if test="score15 != null" >
        SCORE15 = #{score15,jdbcType=INTEGER},
      </if>
      <if test="score16 != null" >
        SCORE16 = #{score16,jdbcType=INTEGER},
      </if>
      <if test="score17 != null" >
        SCORE17 = #{score17,jdbcType=INTEGER},
      </if>
      <if test="score18 != null" >
        SCORE18 = #{score18,jdbcType=INTEGER},
      </if>
      <if test="score19 != null" >
        SCORE19 = #{score19,jdbcType=INTEGER},
      </if>
      <if test="score20 != null" >
        SCORE20 = #{score20,jdbcType=INTEGER},
      </if>
      <if test="tenantId != null" >
        TENANT_ID = #{tenantId,jdbcType=VARCHAR},
      </if>
    </set>
    where OPER_ID = #{operId,jdbcType=DECIMAL}
      and SCORE_DATE = #{scoreDate,jdbcType=TIMESTAMP}
      and USER_ID = #{userId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ai.ch.user.dao.mapper.bo.CtScoreLog" >
    update ct_score_log
    set TOTAL_SCORE = #{totalScore,jdbcType=INTEGER},
      SCORE1 = #{score1,jdbcType=INTEGER},
      SCORE2 = #{score2,jdbcType=INTEGER},
      SCORE3 = #{score3,jdbcType=INTEGER},
      SCORE4 = #{score4,jdbcType=INTEGER},
      SCORE5 = #{score5,jdbcType=INTEGER},
      SCORE6 = #{score6,jdbcType=INTEGER},
      SCORE7 = #{score7,jdbcType=INTEGER},
      SCORE8 = #{score8,jdbcType=INTEGER},
      SCORE9 = #{score9,jdbcType=INTEGER},
      SCORE10 = #{score10,jdbcType=INTEGER},
      SCORE11 = #{score11,jdbcType=INTEGER},
      SCORE12 = #{score12,jdbcType=INTEGER},
      SCORE13 = #{score13,jdbcType=INTEGER},
      SCORE14 = #{score14,jdbcType=INTEGER},
      SCORE15 = #{score15,jdbcType=INTEGER},
      SCORE16 = #{score16,jdbcType=INTEGER},
      SCORE17 = #{score17,jdbcType=INTEGER},
      SCORE18 = #{score18,jdbcType=INTEGER},
      SCORE19 = #{score19,jdbcType=INTEGER},
      SCORE20 = #{score20,jdbcType=INTEGER},
      TENANT_ID = #{tenantId,jdbcType=VARCHAR}
    where OPER_ID = #{operId,jdbcType=DECIMAL}
      and SCORE_DATE = #{scoreDate,jdbcType=TIMESTAMP}
      and USER_ID = #{userId,jdbcType=VARCHAR}
  </update>
</mapper>